@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

       font-family: Roboto, sans-serif;
}

.header{
    padding-top: 20px;
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    justify-content: space-around;

}

.navbar{
    font-size: large;
    display: flex;
    justify-content: end;
    list-style-type:none;
    gap: 30px;
}


.section01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    color: #f9faf8;

}

.banner{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
    width: 500px;
}

.title{

    color: F9FAF8;
    font-size: 48px;
    font-weight: 900;

}

#info{
    padding: 30px;
    text-align: center;
    font-family: Roboto, sans-serif;

}

.container{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-bottom:100px;
       flex-wrap: wrap;      /* allow items to wrap to next line */
    gap: 20px; 
}

.img{
    height: 150px;
    border-radius: 7%;
}

.section03{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-style: italic;
}

/* .section03{
    text-align: center;
    padding: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-style: italic;
} */

.section04{
    display: flex;
    justify-content: center;
    
}
.banner2{

    display: flex;
    min-height: 100px;
    justify-content: space-around;
    background-color: royalblue;
    margin-top: 60px;
    width:700px;
    border-radius: 5px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    align-items: center;
    

}


.button2 {
  
  margin-top: 15px;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 8px;
  background: royalblue;
  color: white;
  
}

button {
    
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid whitesmoke;
  color: white;
}


.call{
    color: #E5E7EB;
    
}

.footer{
    text-align: center;
    color: #E5E7EB;
    margin-top: 50px;
    padding: 20px;
  

    background-color: #1F2937;
}


.item {
    display: flex;
    flex-direction: column;  /* Stack img and text vertically */
    align-items: center;
    max-width: 200px;        /* Limit item width to keep layout neat */
    text-align: center;      /* Center text below image */
}


.text{
    margin-top: 20px;
}